/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Oswald:wght@400;700&display=swap');

font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;

*/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header .line {
    background-color: #117050;
    height: 10px;
}