/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Oswald:wght@400;700&display=swap');

font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
*/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* Limitação para desktop*/
.conteiner {
    max-width: 1140px;
    margin: auto;
}

header .line {
    background-color: #117050;
    height: 10px;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


.header-left {
    
}

.header-left img {
    width: 64px;
    height: 64px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header--search form {
    display: flex;
}

.header--search input {
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.header--search button {
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header--search button img {
    width: 16px;
    height: 16px;
}

.header--menu {
    margin-left: 50px;
    cursor: pointer;
}

.header--menu img {
    width: 30px;
    height: 30px;
}

